<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DbCompress.Properties.Settings.DB_BACKUPSConnectionString"
      connectionString="Data Source=.;Initial Catalog=DB_BACKUPS;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <add name="SqlConnection" connectionString="server=.; database=DB_BACKUPS; integrated security=true;" providerName="system.Data.SqlClient" />   
    
  </connectionStrings>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <appSettings>

    <add key="PS147Path" value="D:\Backups\PS147" />
    <add key="PS247Path" value="D:\Backups\PackageControl" />
    <add key="PackageControlPath" value="D:\Backups\PS247" />
    <add key="eNameCheckerPath" value="D:\Backups\eNameChecker" />
    <add key="LicenceToolsPath" value="D:\Backups\LicenceTools" />
    <add key="Server" value="21" />
    
    <add key="ToEmail" value="yazeed.abuzer@gmail.com" />
    <add key="EmailUsername" value="yazeed.abuzer@gmail.com" />
    <add key="EmailPassword" value= "YazeedTest" />
    <add key="EmailHost" value="smtp.gmail.com"/>
    <add key="EmailPort" value="587" />
    <add key="SendEmail" value="true" />
  </appSettings>
  
  
</configuration>